/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  color: white;
  font-family: 'Acme', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: black;
  background-image:url(/Code_Projects/Desktop/homework/personal/Coding/Code_Projects/CocktailApp/objects-shots/css/cocktails.png);
}
h1, h2{
width:100%;
text-align: center;

}
input{
  margin-left: 42%;
  color: black;
}
.recipe{
  background-color: black;
  padding: 50px;
  width: 50%;
  margin-left: 25%;
}
img{
  display: block;
  margin: 0 auto;
  height: 20%;
}

button{
  color: black;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
